* {
	box-sizing: border-box;
}


.navlogo {
	padding-right: 10px;

}

.navhome {
	padding-right: 10px;
}

.navpricing {
	padding-right: 10px;
}

.navcontact {
	padding-right: 10px;
}

.backimage {
	 width: 1100px;
	 height: 325px;
	 
	 position: relative;
}

h1 {
	left: 380px;
	top: 110px;
	position: absolute;
	
	text-align: center;
	color: white;
	z-index: 100;
	
}

nav {
	padding-bottom: 5px;
}

.container {

	height: 325px;
	width: 1100px;
	position: relative;

}

.backimage img {
	vertical-align: middle;
	position: absolute; 
	left: 0;
	top: 0;
}

 .box1 {
 	margin-top: 20px;
	border: 1px solid grey;
	background: #507B40;
	width: 250px;
	height: 175px;
	float: left;
	
}

 .box2 {
 	margin-top: 20px;
	border: 1px solid grey;
	background: #223B70;
	width: 250px;
	height: 175px;
	float: left;
	margin-left: 12px;
	
}

.box3 {
 	margin-top: 20px;
	border: 1px solid grey;
	background: #0E0E0E;
	width: 250px;
	height: 175px;
	float: left;
	margin-left: 12px;
	
}

.allboxes {
	padding-left: 180px;
}
