* {
	box-sizing: border-box;
}


.navlogo {
	padding-right: 10px;

}

.navhome {
	padding-right: 10px;
}

.navpricing {
	padding-right: 10px;
}

.navcontact {
	padding-right: 10px;
}

.backimage {
	 width: 1100px;
	 height: 325px;
	 float: left;
	 position: relative;
}

h1 {
	left: 0;
	position: absolute;
	padding-left: 425px;
	padding-top: 90px;
	text-align: center;
	color: white;
	
}

nav {
	padding-bottom: 5px;
}

.backgroundimage {
	text-align: center;

}

.backgroundimage img {
	vertical-align: middle; 
}