* {
	box-sizing: border-box;
}


.navlogo {
	padding-right: 10px;

}

.navhome {
	padding-right: 10px;
}

.navpricing {
	padding-right: 10px;
}

.navcontact {
	padding-right: 10px;
}

.backimage {
	 width: 1100px;
	 height: 325px;
	 
	 position: relative;
}

h1 {
	left: 380px;
	top: 110px;
	position: absolute;
	
	text-align: center;
	color: white;
	z-index: 100;
	
}

nav {
	padding-bottom: 5px;
}

.container {

	height: 325px;
	width: 1100px;
	position: relative;

}

.backimage img {
	vertical-align: middle;
	position: absolute; 
	left: 0;
	top: 0;
}

 // .box1 {
	border: 1px solid red;
	background: grey;
	width: 50px;
	height: 50px;
	
}